/* .footer{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #343233;
    padding-top: 40px;
    padding-bottom: 15px;
}


.container-footer{


    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 280px;
    background-color: #343233;
}

.footer h2{

   color:navajowhite;
    font-size: 3rem;

}
.footer p{

    color:rgb(109, 89, 60);
   
 
 }

.iconos{
    
   text-align: center;
   padding-top: 18px;
    height:120px;
    width: 120px;
    background-color: #343233;
    border-radius:100px;
    box-shadow: -1px -1px 13px 2px rgba(217,197,197,0.75);
    -webkit-box-shadow: -1px -1px 13px 2px rgba(217,197,197,0.75);
    -moz-box-shadow: -1px -1px 13px 2px rgba(217,197,197,0.75);
    cursor: pointer;
}

@media only screen and (max-width: 600px){
   
    .container-footer{
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 580px;
        background-color: #343233;
    }
    
    .iconos{
    
        text-align: center;
        padding-top: 18px;
         height:130px;
         margin-top: 25px;
         width: 130px;
         background-color: #343233;
         border-radius:100px;
         box-shadow: -1px -1px 13px 2px rgba(217,197,197,0.75);
         -webkit-box-shadow: -1px -1px 13px 2px rgba(217,197,197,0.75);
         -moz-box-shadow: -1px -1px 13px 2px rgba(217,197,197,0.75);
         cursor: pointer;
     }
     .footer p{

        color:rgb(109, 89, 60);
        text-align: center;
       
     
     }
    


     } */