

.container{ 

   margin:0;
   padding:0;
   

}

.sobre-mi{
    display: flex;
    flex-direction: column;
   padding-left: 95px;
   padding-top: 40px;
  
}
.sobre-mi h2{
   width: 225px;   
   text-align:center;
   color:navajowhite;
   font-size: 3rem;
}
.sobre-mi h3{
   margin-left: 16px;
    width: 745px;
    text-align:center;
    color:navajowhite;    
    font-size: 2rem;
 }
 .sobre-mi p{
    width: 755px;
    text-align:center;
    color: navajowhite;  

 }


.container-about{

    height:450px;
    width: 66%;
    background-color: #343233;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: -200px 0 0 0px #9fd4ca, -230px 0 0 0px #dd9568; 
    position: relative;
    padding:0;
    margin-left: 647px;
    margin-right: 0; 
    margin-bottom: 45px;   
  }



