.Container-proyectos{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.Container-proyectos h2{
    font-size: 2.9rem;
}


.card-proyect{ 

    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 70%;
    margin-top: 45px;
    padding:25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  


}

.img{
    height: 100%;
    width: 50%;
    background-color:rgb(255, 255, 255);
    margin-left: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img a{
    text-decoration: none;
    padding: 8px;
    color: white;
    margin-top: 14px;;
    width: 140px;
    text-align: center;
    font-weight: bold;
    background-color:rgba(254,82,0,1);
    border-radius: 5px;

}
.img a:hover{

    color: rgba(254,82,0,1);
    border: 1px solid rgba(254,82,0,1);
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
}

.img img{

    height:100%;
    width: 100%;

}